@font-face {
	font-family: "Flama-Basic";
	src: url("../fonts/flama/Flama-Basic.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Flama-BasicItalic";
	src: url("../fonts/flama/Flama-BasicItalic.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "Flama-Black";
	src: url("../fonts/flama/Flama-Black.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "Flama-Bold";
	src: url("../fonts/flama/Flama-Bold.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}


@font-face {
	font-family: "Flama-Light";
	src: url("../fonts/flama/Flama-Light.woff") format("woff");
	font-style: normal;
	font-weight: normal;
}



